<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Add this element -->
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
		<section name="RewriterConfig" type="ZhuJi.URLRewriter.Config.RewriterConfigSerializerSectionHandler, ZhuJi.URLRewriter" />
	</configSections>

	<RewriterConfig>
		<Rules>
			<RewriterRule>
				<LookFor>~/Default\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=7</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Product\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=13</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Service\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=15</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Blog\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=10</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/BBS\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=11</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AboutUs\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=12</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/p(\d+)\.aspx</LookFor>
				<SendTo>~/Page/Default.aspx?Id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/s(\d+)\.aspx</LookFor>
				<SendTo><![CDATA[~/Page/Default.aspx?cmd=show&Id=$1]]></SendTo>
			</RewriterRule>
		</Rules>
	</RewriterConfig>

	<!-- Add this element -->
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="hibernate.show_sql">true</property>
			<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.connection_string">Data Source=.;Initial Catalog=CMS;User ID=sa</property>

			<mapping assembly="ZhuJi.Portal.NHibernateDAL"/>
			<mapping assembly="ZhuJi.Log.NHibernateDAL"/>
			<mapping assembly="ZhuJi.UUMS.NHibernateDAL"/>
			<mapping assembly="ZhuJi.Modules"/>

		</session-factory>
	</hibernate-configuration>

	<appSettings>
		<add key="Configure" value="~/DesktopModule/CommonModule/Configure.cfg.xml"/>
		<!--fckeditor-->
		<add key="FCKeditor:BasePath" value="~/FCKeditor/" />
		<add key="FCKeditor:UserFilesPath" value="~/UserFiles/" />
		<!-- AOP -->
		<add key="ZhuJi.AOP.IsOperateLog" value="false"/>
		<add key="ZhuJi.AOP.IsErrorLog" value="false"/>
		<add key="ZhuJi.AOP.IsTransaction" value="false"/>
		<add key="ZhuJi.AOP.IsPermission" value="false"/>
	</appSettings>

	<connectionStrings>
		<add name="ZhuJi.Library.Data.DBProvider" connectionString="Data Source=.;Initial Catalog=CMS;User ID=sa" providerName="ZhuJi.Library.Data.SqlHelper"/>
	</connectionStrings>

	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="webauth.aspx" name=".ASPXFORMSAUTH" protection="All" path="/" timeout="30" enableCrossAppRedirects="true" defaultUrl="~/sso/default.aspx"/>
		</authentication>

		<httpModules>
			<add name="SSOAuthenticateHttpModule" type="ZhuJi.SSO.Core.Authenticate,ZhuJi.SSO.Core"/>
			<add name="ModuleRewriter" type="ZhuJi.URLRewriter.ModuleRewriter, ZhuJi.URLRewriter" />
		</httpModules>

		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
       
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />

    </customErrors> -->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<siteMap enabled="true" defaultProvider="NHSiteMapProvider">
			<providers>
				<add name="NHSiteMapProvider" type="ZhuJi.Portal.WebUI.Core.NHSiteMapProvider,ZhuJi.Portal.WebUI"/>
			</providers>
		</siteMap>
	</system.web>
	<location path="admin">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>